{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Video Request</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'videorequest/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'videorequest/theme.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="container theme-showcase" role="main">

      <div class="jumbotron">
        <h1>Video request page</h1>
        <a type="button" class="btn btn-link" href="{% url 'vrform' %}">Enter your video request</a>
      </div>

    {% for v in videos %}
      <div class="page-header">
        <h1>{{v.videotitle}}</h1>
      </div>
      <div class="well">
        <p>{{v.videodesc}}</p>
      </div>
      {% endfor %}



    </div> <!-- /container -->

  </body>
</html>
